<%- include ("partials/head.ejs") %>
<body>    
    <%- include ("partials/navbar.ejs") %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Realizar perguntas</h3>
            </div>
            <div class="card-body">
                <label for="" id="mensagemSucesso"></label>
                <form method="POST" action="/salvarpergunta" id="formPergunta">
                    <label for="">Título</label>
                    <input type="text" placeholder="Título" name="titulo" class="form-control">
                    <br>
                    <label for="">Pergunta</label>
                    <textarea placeholder="Descreva sua pergunta aqui" name="descricao" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>
        <hr>
        
    </div>
    
    
</body>
<%- include ("partials/bootstrap_dependencies.ejs") %>